* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    padding: 50px;
    padding-top: 5px;
}

/* Header  section styling  */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .header-top ul {
    display: flex;
    gap: 10px;
}

.header-top ul li {
    list-style: none;
    margin: 10px;
    padding: 5px;
}

.header-top ul li a{
    color: white;
    text-decoration: none;
}


.logo img {
    height: 100px;
    width: auto;
}

.logo {
    padding: 5px;
}

/* Mid header section styling  */

.header-info {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    border: rgb(202, 10, 10) solid 1px;
}

.header-info img {
    border: rgb(202, 10, 10) solid 1px;
}

.hero-main {
    font-size: 50px;
    font-weight: bold;
    margin: 12px;
}

.hero-secondary {
    font-size: 25px;
    margin: 12px;
    padding-top: 5px;
}

.header-info img {
    height: 400px;
    padding: 5px;
    margin-right: 300px;
}

/* Info section styling  */

.info {
    margin: 50px 0;
    padding: 10px;
}

.info-text {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 5px;
}

.image img {
    border:rgb(202, 10, 10) solid 2px;
    height:400px;
}

.image-text {
    text-align: center;
}


.header,
.footer{
    background-color: #1F2937;
    color: white;
    border: rgb(202, 10, 10) solid 1px /*delete */
}

/* Quote section styling */

.quote {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 50px 200px;
    background-color: #e5e7eb;

}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    border: rgb(202, 10, 10) solid 1px;
    padding: 20px;
}

.author {
    text-align: end;
    margin: 5px;
    padding: 10px;
}

/* Sign up section styling */

.sign-up {
    background-color: #3882f6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin-bottom: 150px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: white 1px solid;
}


/* Footer section styling */ 
.footer {
    padding: 30px;
    text-align: center;
}